.App {
  text-align: center;
}

body {
  background-color: #ffffff; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden; 
}

.section {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home {
  background-image: url('splash9.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.about {
  background-color: #f0f0f0;
}

.projects {
  background-color: #e0e0e0; /* Example background color */
}

.contact {
  background-color: #d0d0d0; /* Example background color */
}

.welcomeText{
  margin-top: 0px;
}


