.App {
  text-align: center;
}

body {
  background-color: #ffffff; /* Set background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.section {
  min-height: 650px; /* Set minimum height for each section */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home {
  background-image: url('splash9.jpg'); /* Set the background image */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-position: center; /* Center the background image */
}

.about {
  background-color: #f0f0f0; /* Example background color */
}

.projects {
  background-color: #e0e0e0; /* Example background color */
}

.contact {
  background-color: #d0d0d0; /* Example background color */
}
