.App {
  text-align: center;
}

body {
  background-color: #ffffff; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden; 
}

.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 6, 90, 0.9);
  border: 3px solid #000000; 
}


.home {
  background-image: url('splash35.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}


.about {
  background-color: #384572;
  background-image: url('splash40.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150vh;
}
.about h1{
  padding-top: -10px;
}

.projects {
  
  background-image: url('splash40.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  
  background-image: url('splash40.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
}

.welcomeText{
  margin-top: 0px;
}

.header {
  margin-top: -600px; /* Initial position shifted up */
  padding-top: 20px; /* Additional padding at the top */
  color: #ffffff;
  
}

.header.visible {
  margin-top: 0; /* Reset the margin top to 0 when visible */
  opacity: 1; /* Set the opacity to 1 to make it fully visible */
}

.sectionHome {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.9); /* Adjust the values as needed */
  border: 3px solid #040101; /* Adjust the width and color as needed */
}

.box {
  background-color: #000000;
  border-radius: 5px;
  height: auto; 
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(59, 59, 59, 0.79);
  max-width: 90%;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto; 
  overflow: hidden; 
  word-wrap: break-word; 
  color: white;
}


.custom-image {
  margin-top: 20px;
  width: 200px; 
  height: auto; 
}

.about-container {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.about-container.scrolled {
  opacity: 1;
  transform: translateY(0);
}

.boxProject {
  background-color: #ffffff;
  border-radius: 5px;
  height: auto; 
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(59, 59, 59, 0.79);
  max-width: 90%;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto; 
  overflow: hidden; 
  word-wrap: break-word; 
  color: white;
}



.boxAbout {
  background-color: rgba(5, 0, 0, 0.059);
  border-radius: 10px;
  height: auto; 
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(59, 59, 59, 0.928);
  max-width: 100%;
  
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto; 
  overflow: hidden;
  word-wrap: break-word; 
  color: white;
}

.equalBox {
  background-color: rgba(5, 0, 0, 0.059);
  border-radius: 10px;
  height: 200px; 
  width: 200px; 
  margin: 10vh; 
  text-align: center;
  margin-top: 95px;
  box-shadow: 0 4px 8px rgb(58, 72, 86);
  max-width: 100%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  word-wrap: break-word;
  color: white;
  transition: transform 0.1s ease-in-out; 

}



.equalBox:hover {
  transform: scale(1.1); 
}

.socialsContainer {
  min-height: 400px;
}

.contactBox {
  width: 335px;
  margin: 10px; /* Adjust margin as needed */
  background-color: rgba(5, 0, 0, 0.059);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(59, 59, 59, 0.928);
  color: white;
  text-align: center;
}

.container{
  display: flex;
}